:host{
    & .infoBox{
    background-color: thistle;
    border-width: .25rem;
    border-style: solid;
    border-color: black;
    margin: 0 1rem;
    padding:1rem;
    }
    & h4 {
        border-width: .25rem;
        border-style: solid;
        border-color: black;
        margin:1rem;
        padding:1rem;
    }
    & p{
        border-width: .25rem;
        border-style: solid;
        border-color: black;
        margin:1rem;
        padding:1rem;
    }
}